:root {
    --brown: #361e18;
    --light-brown: #6e431d;
    --ochre: #cc7722;
    --chestnut: #742802;
    --yellow-sand: #e9ba63;

    --header-nav-height: 56px;
    --footer-nav-height: 156px;

    --carousel-max-width: 800px;
    --carousel-track-gap: 32px;
    --carousel-card-width: 240px;
}

* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body { 
    background-color: var(--yellow-sand);
}
/* ------------ Nav e Footer ------------ */
header, footer {
    z-index: 100;
    background-color: var(--brown);
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-nav-height);
}
footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: var(--footer-nav-height);
}
header>*, footer>* {
    color: white;
}
header { 
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    justify-content: space-between;
}
h1.brand { 
    font-size: 1.5rem;
}
h1.brand, .nav-list, .contact-list {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    align-items: center;
    list-style: none;
}
.contact-list {
    justify-content: center;
}
header a, nav>a.nav-item, li.contact-item *{
    text-decoration: none;
    color: white;
}
nav>.nav-item, li.contact-item {
    padding: 1em 2em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
nav>.nav-item:hover, li.contact-item>a:hover{
    color: var(--yellow-sand);
    transition: all ease-in 0.25s;
}
nav>.nav-item:hover { 
    background-color: #49494950;
}
/* ------------ Main Content ------------ */
main {
    margin: 1em 3em;
    margin-top: calc(var(--header-nav-height) + 1em);
    margin-bottom: calc(var(--footer-nav-height) + 2em);
    text-align: justify;
}
h1,h2,h3 {
    margin: 0 1em 0;
}
section {
    margin: 0.5em;
    padding: 0.75em 2em 3em;
    color: white;
    background: linear-gradient(to bottom, var(--yellow-sand) 25%, var(--chestnut));
    border-radius: 16px;
}
.about-text p {
    text-indent: 2.5em;
    margin: 3em;
}
p#copyright-text {
    text-align: center;
}
/* ------------ Products ------------ */
/* ------------ Products Container ------------ */
ul.products-list {
    gap: 0.5em;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-items: stretch;
    align-items: stretch;
}
/* ------------ Products Item ------------ */
ul.products-list>li {
    display: grid; 
    grid-template-columns: auto 1fr 32px;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas: 
        "image image image"
        "title title title"
        ". option option"
        ". value button";
    padding: 1em;
    border: solid transparent 3px;
    border-radius: 1em;
    background-color: white;
    color: var(--chestnut);
    flex-grow: 1;
    cursor: pointer;
    row-gap: 1em;
}

ul.products-list>li>figure {
    grid-area: image;
    justify-self: center;

}
ul.products-list>li>figure>img {
    cursor: pointer;
    height: 240px;
    width: 240px;
    border: solid transparent 0.5em;
    border-radius: 1em;
}
ul.products-list>li>h3{
    grid-area: title;
    font-size: 2rem;
    text-align: center;
    user-select: none;
}
ul.products-list>li>ul {
    grid-area: option;
    list-style-type: none;
    padding: 0;
    align-items: center
}
ul.products-list>li>label, 
ul.products-list>li>input {
    cursor: pointer;
}
ul.products-list>li>label.select-item-label {
    border-radius: 0.25em;
    color: white; 
    grid-area: value;
    text-align: end;
    padding:  0 0.8em 0;
    font-weight: 700;
    font-size: 1.4em;
    background-color: var(--ochre);
    margin-right: 0.3em;
}
ul.products-list>li>input[type="checkbox"] {
    grid-area: button;
    appearance: none;
    align-self: center;
    height: 32px;
    border: solid var(--ochre) 3px;
    border-radius: 0.5em;
    position: relative;
}
ul.products-list>li label.sub-option-label{
    font-weight: 600;
    font-size: 1.2em;
    color: var(--brown);
}
ul.products-list>li:hover  {
    background-color: #e9ba63bb;
    transition: all ease-in-out 0.5s;
}
ul.products-list>li>figure>img:hover {
    transform: scale(1.125);
    transition: transform ease-in-out 0.3s;
}
ul.products-list>li:hover h3 {
    color: #ffffffa2;
}
ul.products-list>li:hover label.select-item-label {
    color: #742802be;
    background-color: var(--yellow-sand);
}
ul.products-list>li:hover input[type="checkbox"]::after {
    content: "✓";
    position: absolute;
    color: var(--yellow-sand);
    font-weight: bold;
    font-size: 1.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul.products-list>li.unable input[type="checkbox"]::after {
    content: "🗙";
    position: absolute;
    color: grey;
    font-size: 1.2em;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul.products-list>li.unable input[type="checkbox"] {
    background-color: white;
    border: solid grey 3px;
}
ul.products-list>li:hover:not(.unable) input[type="checkbox"] {
    height: 32px;
    border: solid var(--yellow-sand) 3px;
}
ul.products-list>li:not(.unable) input[type="checkbox"]:active  {
    height: 32px;
    border: solid var(--ochre) 3px;
    background-color: var(--chestnut);
}
ul.products-list>li.unable label.select-item-label {
    color: white;
    background-color: grey;
}
ul.products-list>li.selected {
    background-color: #e9ba635d;
    box-shadow: 0px 8px 19px 8px #361e18bf;
}
ul.products-list>li.selected img {
    z-index: 10;
    transform: scale(1.125);
    position: relative;
}
ul.products-list>li.selected h3 {
    color: var(--yellow-sand);
}
ul.products-list>li.selected label.select-item-label {
    background-color: transparent;
    color: var(--chestnut);
}
ul.products-list>li.selected input[type="checkbox"] {
    background-color: var(--chestnut);
    border-color: var(--chestnut);
    position: relative;
}
ul.products-list>li.selected input[type="checkbox"]::after {
    content: "✓";
    position: absolute;
    color: var(--yellow-sand);
    font-weight: bold;
    font-size: 1.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul.products-list>li.selected:hover img { 
    transform: scale(1);
    transition: transform ease-in-out 0.3s;
    border: solid transparent 0.5em;
}
/* ------------ Carousel ------------ */
section#home {
    padding: 3em 0 0;
}
#home>.hero-content {
    text-align: center;
    font-size: 2rem;
}
.carousel-container {
    position: relative;
    width: 100%;
    /* max-width: var(--carousel-max-width); */
    padding: 5em 0;
    overflow: hidden;
    border-radius: 8px;
}
ul.carousel-track {
    list-style-type: none;
    width: max-content;
    display: flex;
    gap: var(--carousel-track-gap);
    margin: 3em 0;
    transition: transform 0.5 ease;
    padding-inline-start: 0;
    border-radius: 16px;
    background-color: #74280255 /* chestnut with low opacity */;
}
ul.carousel-track>.product-item {
    position: relative;
    flex: 0 0 var(--carousel-card-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: var(--ochre);
    padding-bottom: 1em;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease-in-out, opacity 0.3s ease;
}
ul.carousel-track>.product-item>figure,
ul.carousel-track>.product-item>figure>img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
ul.carousel-track>.product-item>h3 {
    padding: 4px 0;
}
ul.carousel-track>.product-item>label {
    color: var(--ochre);
    font-weight: 600;
    background-color: white;
    padding: 4px 1em;
    border-radius: 4px;
}
ul.carousel-track>.product-item.active {
    z-index: 2;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}
ul.carousel-track>.product-item.prev, 
ul.carousel-track>.product-item.next,
ul.carousel-track>.product-item.inactive {
    opacity: 0.8;
    transform: scale(0.8);
    /* transition: transform 0.6s ease-out; */
}
/* Carousel Controls */
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
    color: white;
    background-color: #742802d0;
    transition: all ease-in 0.125s;
}
button.prev:hover, button.next:hover {
    color: #cc7722b2;
    background-color: #e9ba63d3;
}
button.prev {
    left: 10px;
}
button.next {
    right: 10px;
}
.dots-container {
    text-align: center;
    padding: 10px 0;
}
.dot {
    display: inline-block;
    width: .75em;
    height: .75em;
    margin: 0 5px;
    background-color: #ddd;
    border: solid transparent 1px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
}
.dot.active {
    background-color: var(--yellow-sand);
    cursor: default
}
.dot.active:hover {
    background-color: transparent;
    border: solid var(--yellow-sand) 1px;
}
.dot:hover {
    background-color: #bbbbbb85;
    transition: background-color 0.2s ease-out;
}
/* Product Item States */
div.product-item.unable {
    opacity: 0.7;
}

div.product-item.unable .select-item-check {
    cursor: not-allowed;
}

.product-item.selected {
    box-shadow: 0 0 0 2px var(--brown);
}