:root {
    /* Palette Colors */
    --brown: #361e18;
    --light-brown: #6e431d;
    --ochre: #cc7722;
    --chestnut: #742802;
    --yellow-sand: #e9ba63;
    --white: #f2f2f2;
    --light-blue: #3087fa;
    --light-red: #a52b2b;

    --rgb-brown: rgb(54, 30, 24);
    --rgb-light-brown: rgb(110, 67, 29);
    --rgb-ochre: rgb(204, 119, 34);
    --rgb-chestnut: rgb(116, 40, 2);
    --rgb-yellow-sand: rgb(233, 186, 99);
    --rgb-white: rgb(242, 242, 242);

    /* Header and Footer Height */
    --header-nav-height: 56px;
    --footer-nav-height: 156px;

    /* Carousel Configuration */
    --carousel-max-width: 800px;
    --carousel-track-gap: 32px;
    --carousel-card-width: 240px;
}
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body { 
    /* ------------- Light Colors Schema */
    /* BODY Background Color */
    --body-bg-color: var(--yellow-sand);

    /* SECTION - background Color - */
    --section-bg: linear-gradient(to bottom, var(--yellow-sand) 25%, var(--chestnut));
    /* NAVBAR */
    /* NAVBAR - background color - */
    --nav-bg-color: var(--brown);
    --nav-txt-color: var(--white);
    
    /* text color */
    --txt-color: var(--ochre);/* and "(:hover)" */
    --hover-txt-color: var(--yellow-sand);
    
    /* heading color */
    --heading-color: var(--chestnut);

    /* CARD */
    
    /* CARD - background colors - */
    --card-background: var(--white);
    --card-hover-background: transparent;
    --card-selected-background: transparent;
    --card-label-background: var(--card-background);
    /* CARD - text color- */
    --card-txt-color: var(--chestnut);
    
    --card-check-color: var(--yellow-sand);
    --card-check-background: transparent;
    --card-hover-check-color: var(--white);
    --card-hover-check-background: var(--yellow-sand);
    --card-selected-check-color: var(--white);
    --card-selected-check-background: var(--light-blue);

    /* PRODUCT - background color */
    --item-bg-color: var(--white);
    /* ABOUT - text color */
    --about-txt-color: var(--brown);
    /* FORM */
    /* FORM - label color */
    --form-header-background: var(--light-brown);
    --form-main-background: linear-gradient(to bottom, var(--white) 20%, var(--yellow-sand) );
    --form-label-color: var(--chestnut);
    --form-input-background: var(--light-brown);
    --form-input-color: var(--yellow-sand);
    --form-error-color: var(--light-red);

    --button-color: var(--white);
    --button-hover-color: var(--yellow-sand);
    --button-background: var(--ochre);
    --button-hover-background: var(--chestnut);
    --button-border: solid var(--yellow-sand) 3px;
    --button-hover-border: solid var(--brown) 3px;
    --button-radius: 24px;
}
body.dark {

    /* Dark Colors Scheme */
    /* BODY Background Color */
    --body-bg-color: var(--light-brown);

    /* SECTION - background Color - */
    --section-bg: linear-gradient(to bottom, var(--light-brown),5%, var(--chestnut));
    
    /* NAVBAR */
    /* NAVBAR - background color - */
    --nav-txt-color: var(--yellow-sand);
    
    /* text color */
    --txt-color: var(--yellow-sand);
    --hover-txt-color: var(--ochre);
    
    /* heading color */
    --heading-color: var(--white);
    
    /* CARD */
    /* CARD - background color - */
    --card-background: var(--yellow-sand);
    /* CARD - text color- */
    --card-txt-color: var(--chestnut);
    

    
    /* PRODUCT - background color */
    --item-bg-color: var(--ochre);

    /* ABOUT - text color */
    --about-txt-color: var(--yellow-sand);
    /* FORM */
    /* FORM - label color */
    --form-label-color: var(--ochre);
    --form-header-background: var(--brown);
    --form-main-background: var(--light-brown);
    --form-input-background: var(--yellow-sand);
    --form-input-color: var(--brown);
    --form-error-color: rgb(165, 43, 43);
}
body {
    background-color: var(--body-bg-color);

}
/* ------------ Nav e Footer ------------ */
header, footer {
    z-index: 10;
    background-color: var(--nav-bg-color);
}
body>header, body>footer {
    z-index: 15;
}
body>footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
}

body>header { 
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    flex-flow: row nowrap;
    align-content: stretch;
    justify-content: space-between;
    height: var(--header-nav-height);
}
body>header>*, footer>* {
    color: var(--nav-txt-color);
}
body>header a, nav>a.nav-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body>header a, nav>a.nav-item, li.contact-item *{
    text-decoration: none;
    color: var(--nav-txt-color);
}
h1.brand { 
    font-size: 1.5rem;
}
h1.brand, .nav-list, .contact-list {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    align-items: center;
    list-style: none;
}
.contact-list {
    justify-content: center;
}
/* Navbar */
nav>.nav-item, li.contact-item {
    padding: 1em 2em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
nav>.nav-item:hover, 
li.contact-item>a:hover,
button.menu-button>i:hover,
button#change-color-button>i:hover {
    color: var(--hover-txt-color);
    transition: all ease-in 0.25s;
}
nav>.nav-item:hover,
button.menu-button:hover,
button#change-color-button:hover { 
    background-color: #49494950;
}
button#change-color-button {
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background-color: transparent;    
}
button#change-color-button i {
    font-size: 32px;
    color: var(--nav-txt-color);
}

button.menu-button {
    display: none;
    width: 56px;
    border: none;
    background-color: transparent;
}
button.menu-button i {
    font-size: 32px;
}
button.menu-button:hover,
button.menu-button i:hover {
    background-color: rgba(0, 0, 0, 0.37);
    color: rgba(255, 255, 255, 0.815);
}

/* ------------ Main Content ------------ */
main {

    text-align: justify;
}
h1,h2,h3 {
    margin: 0 1em 0;
}
section {
    margin-top: var(--header-nav-height);
    color: var(--txt-color);
    background: var(--section-bg);
}
#about-text p {
    font-size: 1.5em;
    color: var(--about-txt-color);
    text-indent: 3em;
    margin: 2em;
}
p#copyright-text {
    text-align: center;
}
/* ------------ Products ------------ */
/* ------------ Products Container ------------ */
ul.products-list {
    gap: 0.5em;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-items: stretch;
    align-items: stretch;
}
/* ------------ Products Item ------------ */
ul.products-list>li {
    display: grid; 
    grid-template-columns: 48px auto 80px;
    grid-template-rows: 16px auto 1fr auto;
    grid-template-areas: 
        "button . count"
        "image image image"
        ". option ."
        "value value value";
    padding: 1em;
    border: solid transparent 3px;
    border-radius: 1em;
    background-color: var(--card-background);
    flex-grow: 1;
    row-gap: 1em;
}
ul.products-list>li>figure {
    grid-area: image;
    justify-self: center;
    width:320px;
    justify-items: center;
}
ul.products-list>li>figure>img {
    cursor: pointer;
    height: 240px;
    width: 240px;
    object-fit: contain;
    background-color: white;
    border: solid transparent 0.5em;
    border-radius: 1em;
}
ul.products-list>li>figure>figcaption{
    color: var(--heading-color);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    user-select: none;
}
ul.products-list>li>ul {
    grid-area: option;
    list-style-type: none;
    padding: 0;
    align-items: center
}
ul.products-list>li>label, 
ul.products-list>li>input {
    cursor: pointer;
}
ul.products-list>li>label.product-item-price {
    border-radius: 0.25em;
    color: var(--heading-color); 
    grid-area: value;
    text-align: end;
    padding:  0 0.8em 0;
    font-weight: 700;
    font-size: 1.4em;
    background-color: var(--card-label-background);
    margin-right: 0.3em;
}
li.product-item> .quant-count-container {
    grid-area: count;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
li.product-item> .quant-count-container.hidden {
    display: none;
}
li.product-item button.count-button, input.count-input {
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    text-align: center;
}
li.product-item button.count-button {
    padding: 0;
    width: 24px;
}
ul.products-list>li.product-item button.sub-option-button {
    cursor: pointer;
    width: 100%;
    align-self: center;
    font-size: 1.5em;
    padding: 0.5em;
    background: var(--button-background);
    color: var(--button-color);
    border: var(--button-border);
    border-radius: var(--button-radius);
    font-weight: 600;
}
ul.products-list>li.product-item button.sub-option-button:hover {
    background-color: var(--button-hover-background);
    border: var(--button-hover-border); 
    color: var(--button-hover-color);
    transition: all ease-in 0.2s;
}
ul.products-list>li.product-item button.sub-option-button:disabled {
    color: grey;
    background: transparent;
    border: transparent;
}
ul.products-list>li.product-item input[type="checkbox"] {
    z-index: 10;
    grid-area: button;
    appearance: none;
    font-size: 1.8em;
    height: 48px;
    border: solid var(--card-check-color) 3px;
    border-radius: 0.5em;
    position: relative;

}
ul.products-list>li.product-item input[type="checkbox"]::after {
    color: var(--card-check-color);
}
ul.products-list>li .sub-options-list {
    grid-area: option;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul.products-list>li.unable input[type="checkbox"] {
    /* background-color: var(--card-txt-color);
    border: solid var(--card-txt-color) 3px; */
    display: none;
}
ul.products-list>li.unable input[type="checkbox"]::after {
    content: "🗙";
    position: absolute;
    color :var(--card-txt-color);
    font-size: 1.5em;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul.products-list>li:hover input[type="checkbox"]::after {
    content: "✓";
    position: absolute;
    color: var(--card-background);
    font-weight: bold;
    font-size: 1.25em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 0.5s;
}
ul.products-list>li:hover:not(.unable) input[type="checkbox"] {
    border: solid var(--card-hover-check-color) 3px;
    background-color:  var(--card-hover-check-background);
    transition: all ease-in-out 0.5s;
}
ul.products-list>li:not(.unable) input[type="checkbox"]:active  {
    border: solid var(--ochre) 3px;
    background-color: var(--item-bg-color);
    transition: all ease-in-out 0.5s;
}
ul.products-list>li:hover  {
    /* background-color: #e9ba63bb; */
    background: var(--card-hover-background);
    transition: all ease-in-out 0.5s;
}
ul.products-list>li>figure>img:hover {
    transform: scale(1.125);
    transition: transform ease-in-out 0.3s;
}
ul.products-list>li:hover h3 {
    color: #ffffffa2;
}
ul.products-list>li:hover label.select-item-label {
    /* color: #742802be; */
    background-color: var(--card-txt-color);
}
ul.products-list>li.unable label.select-item-label {
    color: white;
    background-color: grey;
}
ul.products-list>li.selected {
    background: var(--card-selected-background);
    box-shadow: 0px 8px 19px 8px #361e18bf;
    opacity: 0.8;
}
ul.products-list>li.selected img {
    z-index: 5;
    transform: scale(1.125);
    position: relative;
}
ul.products-list>li.selected h3 {
    color: var(--ochre);
}
ul.products-list>li.selected label.select-item-label {
    background-color: transparent;
    color: var(--heading-color);
}
ul.products-list>li.selected input[type="checkbox"] {
    background-color:  var(--card-selected-check-background);
    border-color: var(--card-selected-check-color);
    position: relative;
}
ul.products-list>li.selected input[type="checkbox"]::after {
    content: "✓";
    position: absolute;
    color: var(--card-selected-check-color);
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul.products-list>li.selected:hover input[type="checkbox"] {
    background-color:  var(--card-background);
    border-color: var(--form-error-color);
    position: relative;
}
ul.products-list>li.selected:hover input[type="checkbox"]::after {
    content: "×";
    position: absolute;
    color: var(--form-error-color);
    font-weight: bold;
    top: 42%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transition: none;
}
ul.products-list>li.selected:hover img { 
    transform: scale(1);
    transition: transform ease-in-out 0.3s;
    border: solid transparent 0.5em;
}
/* ------------ Carousel ------------ */
section#home {
    padding: 3em 0 0;
}
#home>.hero-content {
    text-align: center;
}
.carousel-container {
    position: relative;
    width: 100%;
    /* max-width: var(--carousel-max-width); */
    padding: 5em 0;
    overflow: hidden;
    border-radius: 8px;
}
ul.carousel-track {
    list-style-type: none;
    width: max-content;
    display: flex;
    gap: var(--carousel-track-gap);
    margin: 3em 0;
    transition: transform 0.5 ease;
    padding-inline-start: 0;
    border-radius: 16px;
    background-color: #74280255 /* chestnut with low opacity */;
}
ul.carousel-track>.product-item {
    position: relative;
    flex: 0 0 var(--carousel-card-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: var(--card-hover-background);
    padding-bottom: 1em;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease-in-out, opacity 0.3s ease;
}
ul.carousel-track>.product-item>figure,
ul.carousel-track>.product-item>figure>img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
ul.carousel-track>.product-item>h3 {
    color: var(--card-txt-color);
    padding: 4px 0;
}
ul.carousel-track>.product-item>label {
    color: var(--txt-color);
    font-weight: 600;
    background-color: var(--body-bg-color);
    padding: 4px 1em;
    border-radius: 4px;
}
ul.carousel-track>.product-item.active {
    z-index: 2;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}
ul.carousel-track>.product-item.prev, 
ul.carousel-track>.product-item.next,
ul.carousel-track>.product-item.inactive {
    opacity: 0.8;
    transform: scale(0.8);
    /* transition: transform 0.6s ease-out; */
}
/* Carousel Controls */
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
    color: var(--txt-color);
    background-color: #361e18d0;
    transition: all ease-in 0.125s;
}
button.prev:hover, button.next:hover {
    color: var(--yellow-sand);
    background-color: #49494950;
}
button.prev {
    left: 10px;
}
button.next {
    right: 10px;
}
.dots-container {
    text-align: center;
    padding: 10px 0;
}
.dot {
    display: inline-block;
    width: .75em;
    height: .75em;
    margin: 0 5px;
    background-color: #ddd;
    border: solid transparent 1px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
}
.dot.active {
    background-color: var(--hover-txt-color);
    cursor: default
}
.dot.active:hover {
    background-color: transparent;
    border: solid var(--hover-txt-color) 1px;
}
.dot:hover {
    background-color: #bbbbbb85;
    transition: background-color 0.2s ease-out;
}
/* Product Item States */
div.product-item.unable {
    opacity: 0.7;
}

div.product-item.unable .product-item-check {
    cursor: not-allowed;
}

.product-item.selected {
    box-shadow: 0 0 0 2px var(--brown);
}

button#cart-submit-button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: solid transparent 1px;
    background-color: var(--chestnut);
    color: var(--ochre);
    cursor: pointer;
    position: fixed;
    z-index: 1500;
    bottom: 124px;
    right: 32px;
}
button#cart-submit-button:hover {
    background-color: #aa5022;
    color: #e9ba63;
    transition: all ease-in 0.5s;
}
button#cart-submit-button i {
    font-size: 32px;
}
/* Cart Form */
section#cart {
    display: flex;
    justify-content: center;
}


form {
    margin: 3em;
    margin-bottom: var(--footer-nav-height);
}
/* FORM */
form .form-frame {
    background-color: var(--form-header-background);
    width: auto;
    display: grid;


    border-radius: 16px;
    box-shadow: 1px 3px 20px var(--nav-bg-color);
}
form .form-frame header {
    grid-area: header;
    background-color: transparent;
    padding: 1.5em 0em 1.5em;
}
form .form-frame footer {
    background-color: transparent;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 2em 1em;
    grid-area: footer;
}
form main, 
form aside {
    background: var(--form-main-background);
}
form main {
    grid-area: form;
}
form aside {
    grid-area: cart;
}

form main { 
    display: flex;
    flex-flow: column wrap;
    padding: 1em 2em;
}

form main fieldset {
    padding: 0.5em 1em;
    color: var(--form-label-color);
    font-size: 1.3rem;
    font-weight:700 ;
    padding-bottom: 2em;
    border: none;
}

form main input {
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--form-input-background);
    color: var(--form-input-color);
    border-radius: 16px;
    padding: 10px;
}
form .form-frame button {
    padding: 0.5em 2em ;
    font-size: 1.25rem;
    background-color: transparent;
    border: solid transparent 3px;
    border-radius: 24px;
}
form .form-frame button:hover {
    background-color: rgba(0,0,0, 0.5);
    transition: all ease-in .12s
}
/* Form Reset Button */
form .form-frame button[type="reset"] {
    background-color: rgb(184, 52, 52);
}
form .form-frame button[type="reset"]:hover {
    background-color: rgb(212, 117, 117);
    transition: all ease-in 0.2s;
}
form .form-frame button[type="reset"]:active {
    color: rgb(212, 207, 207);
    background-color: rgb(83, 38, 38);
    transition: all ease-in 0.2s;
}
form .form-frame button[type="reset"]:disabled {
    color: var(--body-bg-color);
    background-color: var(--brown);
    opacity: 0.5;
    cursor: default;
}

form .form-frame .hidden {
    display: none;
}
/* ------------ Size Media Queries ------------ */
@media (max-width: 467px) {
    :root {
        --header-nav-height: 96px;
    }
    header {
        width: 100%;
        justify-content: center;
    }
    h1.brand { 
        display: none;
    }
    nav {
        font-size: 2em;
        display: flex;
        gap: 16px;
    }
    nav>.nav-item {
        padding: 0;
    }
    nav>.nav-item:active {
        background-color: transparent;
    }
    nav>.nav-item>span {
        display: none;
    }
    main {
        margin: 16px;
    }
    section {
        margin: 0;
    }
    footer {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        bottom: -100;
    }
    footer h2{
        font-size: 2rem;
        align-self: center;
    }
    footer .contact-list {
        gap: 0;
        flex-direction: column;
    }
    footer p {
        margin-top: auto;
        margin-bottom: 16px;
    }
}
@media (min-width: 468px) and (max-width: 613px) {
    :root {
        --header-nav-height: 56px;
    }
    header {
        justify-content: center;
    }
    h1.brand { 
        align-items: center;
    }
    nav, nav>.nav-item {
        display: none;
    }
    button.menu-button {
        display: block;
        position: absolute;
        right: 8px;
        height: var(--header-nav-height);
    }
    section {
        padding: 16px;
    }
    main {
        margin: 16px;
        margin-top: calc(var(--header-nav-height));
        margin-bottom: calc(var(--footer-nav-height));
    }
    section#about {
        padding: 0 16px 1em;
    }
    footer {
        display: flex;
        flex-direction: column;
        height: var(--footer-nav-height);
    }
    footer h2 {
        align-self: center;
    }
    footer>nav {
        display: block;
    }
    footer>nav>.contact-list {
        display: flex;
        flex-direction: row;
    }
    form .form-frame {
        display: flex;
        flex-flow: column;
    }

}
@media (min-width: 614px) and (max-width: 811px){
    :root {
        --header-nav-height: 96px;
    }
    h1.brand { 
        display: none;
    }
    body>header {
        width: 100%;

    }
    nav {
        display: flex;
        width: 100%;

        justify-content: center;
    }
    header nav {
        position: fixed;
    }
    .nav-item {
        font-size: 1.5em;
    }
    .nav-item span {
        display: none;
        
    }
    main {
        margin: 0.5em;
        margin-top: calc(var(--header-nav-height) + 1em);
        margin-bottom: calc(var(--footer-nav-height) + 2em);
    }
    #about-text p {
        font-size: 1.2em;
    }
    footer {

        justify-content: center;
        height: var(--footer-nav-height);
    }

    form main {
        font-size: 0.75em;
    }
    form .form-frame {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 812px) and (max-width: 1199px) {
    :root {
        --header-nav-height: 56px;
        --footer-nav-height: 156px;
    }
    h1.brand { 
        font-size: 1.5em;
    }
    nav>.nav-item {
        font-size: 1.25em;
    }
    nav>.nav-item i {
        display: none;
    }
    main {
        margin: 2em;
        margin-top: calc(var(--header-nav-height) + 1em);
        margin-bottom: calc(var(--footer-nav-height) + 2em);
    }
    #about-text p {
        font-size: 1.12em;
    }
    footer { 
        align-items: center;
    }
    .hero-content {
        font-size: 1.5rem;
    }
    form .form-frame {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header . ."
        "form form cart"
        "footer footer footer";
    }
    form .form-frame {
        min-width:810px;
        grid-template-columns: 1fr 1fr 30%;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "header . ."
        "form form cart"
        "footer footer footer";
    }
    form .form-frame main {
        align-content: start;
    }

}
@media (min-width: 1200px) {
    :root {
        --header-nav-height: 80px;
    }
    h1.brand { 
        font-size: 2rem;
    }
    nav>.nav-item {
        font-size: 1.5rem;
    }
    #about-text p {
        font-size: 1.3em;
    }
    footer {
        flex-direction: column;
        align-items: stretch;
        padding: 0.75em 0 2em;
    }
    .hero-content {
        font-size: 2rem;
    }
    section {
        padding: 1.25em 2em 3em;
    }
    section#about { 
        margin: 200px;
        margin-top: var(--header-nav-height);
        margin-bottom: var(--footer-nav-height);
        padding: 3em;
    }

    form .form-frame {
        min-width: 864px;
        max-width: 1200px;
        grid-template-columns: 1fr 1fr 30%;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "header . ."
        "form form cart"
        "footer footer footer";
    }
}
